<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- Unity Container-->
    <add key="ILoggerInstance" value="DirectFileLogger" />
    <!-- File paths-->
    <add key="workingDirectory" value="C:\mgrWorkingDirs\Iteration21\a" />
    <add key="pathToInfoFile" value="a.txt" />
    <add key="pathToExceptionFile" value="aException.txt" />
    <add key="pathToMarketDataFile" value="kgh_d.csv" />
    <add key="pathToTestMarketDataFile" value="kgh_dTEST.csv" />
    <add key="pathToOutputCsvFile" value="heavensOUT.csv" />
    <!-- Genetic environement config -->
    <add key="StopDate" value="18/12/2019 10:35:00" />
    <add key="MinutesLimit" value="10000" />
    <add key="MUTATIONPROBABILITY" value="0.47" />
    <add key="MUTATIONRETRIALS" value="80" />
    <add key="SelectionMethod" value="RankedRoulette" />
    <add key="CrossoverMethod" value="Basic" />
    <add key="ScoreModifier" value="1" />
    <add key="StartingIndividual" value="bestIndividual.json" />
  </appSettings>
</configuration>